<!doctype html>
<html lang="en">

<head>
    <!-- DataTables -->
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    
    <!-- Responsive datatable examples -->
    <link href="assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />     
    
    <%- include('../partials/head') %>
    
</head>

<body data-sidebar="dark">
    
    
    <%- include('../partials/modals') %>
    <%- include('../partials/modal-table') %>
    <!-- Begin page -->
    <div id="layout-wrapper">
        
        
        <header id="page-topbar">
            <%- include('../partials/header') %>
        </header>
        
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">
            
            <div data-simplebar class="h-100">
                <%- include('../partials/sidebar') %>
            </div>
        </div>
        <!-- Left Sidebar End -->
        
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            
            <div class="page-content">
                <div class="container-fluid">
                    
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">
                                    <%- menu %>
                                </h4>
                                
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">
                                            <%- menu %>
                                        </a></li>
                                        <li class="breadcrumb-item active">
                                            <%- submenu %>
                                        </li>
                                    </ol>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row"></div>
                    
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-2">
                                <div class="card mini-stats-wid">
                                    <div class="card-body">
                                        
                                        <div class="d-flex flex-wrap">
                                            <div style="margin-right: 0.5rem!important;">
                                                <p class="text-muted mb-2">TOTAL </p>
                                                <h5 class="mb-0">
                                                    <div class="count-total"></div>
                                                </h5>
                                            </div>
                                            
                                            <div class="avatar-sm ms-auto">
                                                <div class="avatar-title rounded-circle text-primary font-size-20"
                                                style="background:#F4F6F7;">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="card mini-stats-wid">
                                <div class="card-body">
                                    
                                    <div class="d-flex flex-wrap">
                                        <div style="margin-right: 0.5rem!important;">
                                            <p class="text-muted mb-2">CRITICAL RISK</p>
                                            <h5 class="mb-0">
                                                <div class="count-critical"></div>
                                            </h5>
                                        </div>
                                        
                                        <div class="avatar-sm ms-auto">
                                            <div class="avatar-title rounded-circle text-primary font-size-20"
                                            style="background:#900C3F;">
                                            <button type="button" class="btn header-item noti-icon modal-app-risk"
                                            data-bs-toggle="modal" data-bs-target="#datalist" data-id="critical">
                                            
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            
                            <div class="d-flex flex-wrap">
                                <div style="margin-right: 0.3rem!important;">
                                    <p class="text-muted mb-2">ELEVATED RISK</p>
                                    <h5 class="mb-0">
                                        <div class="count-elevated"></div>
                                    </h5>
                                </div>
                                
                                <div class="avatar-sm ms-auto">
                                    <div class="avatar-title rounded-circle text-primary font-size-20"
                                    style="background:#C70039;">
                                    <button type="button" class="btn header-item noti-icon modal-app-risk"
                                    data-bs-toggle="modal" data-bs-target="#datalist" data-id="elevated">
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-xl-2">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    
                    <div class="d-flex flex-wrap">
                        <div style="margin-right: 0.5rem!important;">
                            <p class="text-muted mb-2">HIGH RISK</p>
                            <h5 class="mb-0">
                                <div class="count-high"></div>
                            </h5>
                        </div>
                        
                        <div class="avatar-sm ms-auto">
                            <div class="avatar-title rounded-circle text-primary font-size-20"
                            style="background:#FF5733">
                            <button type="button" class="btn header-item noti-icon modal-app-risk"
                            data-bs-toggle="modal" data-bs-target="#datalist" data-id="high">
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-xl-2">
    <div class="card mini-stats-wid">
        <div class="card-body">
            
            <div class="d-flex flex-wrap">
                <div style="margin-right: 0.5rem!important;">
                    <p class="text-muted mb-2">MEDIUM RISK</p>
                    <h5 class="mb-0">
                        <div class="count-medium"></div>
                    </h5>
                </div>
                
                <div class="avatar-sm ms-auto">
                    <div class="avatar-title rounded-circle text-primary font-size-20"
                    style="background:#FFC300;">
                    <button type="button" class="btn header-item noti-icon modal-app-risk"
                    data-bs-toggle="modal" data-bs-target="#datalist" data-id="medium">
                    
                </button>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
<div class="col-xl-2">
    <div class="card mini-stats-wid">
        <div class="card-body">
            
            <div class="d-flex flex-wrap">
                <div style="margin-right: 0.5rem!important;">
                    <p class="text-muted mb-2">LOW RISK</p>
                    <h5 class="mb-0">
                        <div class="count-low"></div>
                    </h5>
                </div>
                
                <div class="avatar-sm ms-auto">
                    <div class="avatar-title rounded-circle text-primary font-size-20"
                    style="background:#DAF7A6;">
                    <button type="button" class="btn header-item noti-icon modal-app-risk"
                    data-bs-toggle="modal" data-bs-target="#datalist" data-id="low">
                    
                </button>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent border-bottom text-uppercase">
                TOP SENSOR SERVICE
            </div>
            <div class="card-body">
                <div id="topsensor"></div>
            </div>
            <div class="card-footer bg-transparent border-top text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent border-bottom text-uppercase">
                TOP DIRECTION SERVICE
            </div>
            <div class="card-body">
                <div id="topdirection"></div>
            </div>
            <div class="card-footer bg-transparent border-top text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent border-bottom text-uppercase">
                SENSOR TOP 10 DST COUNTRY
            </div>
            <div class="card-body">
                <div id="topdstcountry"></div>
            </div>
            <div class="card-footer bg-transparent border-top text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent border-bottom text-uppercase">
                SENSOR TOP 10 SRC COUNTRY
            </div>
            <div class="card-body">
                <div id="topsrccountry"></div>
            </div>
            <div class="card-footer bg-transparent border-top text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <%- include('../partials/footer') %>
</footer>
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->



<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<%- include('../partials/js') %>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<!-- Required Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.23/moment-timezone-with-data-2012-2022.min.js"></script>
<!-- Required datatable js -->
<script src="assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Responsive examples -->
<script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="assets/js/pages/dashboard.init.js"></script>



<script type="text/javascript">
    toastr.info('Visited Dashboard!', 'Notification', {
        "positionClass": "toast-top-right", "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "1000",
        "extendedTimeOut": "1000",
    })
</script>

</body>

</html>