<!doctype html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

</head>

<body data-sidebar="dark">

    <%- include('../partials/modals') %>

    <!-- Begin page -->
    <div id="layout-wrapper">


        <header id="page-topbar">
            <%- include('../partials/header') %>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">
                <%- include('../partials/sidebar') %>
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">
                                    <%- menu %>
                                </h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">
                                                <%- menu %>
                                            </a></li>
                                        <li class="breadcrumb-item active">
                                            <%- submenu %>
                                        </li>
                                    </ol>
                                </div>

                            </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                            <thead>
                                            <tr>
                                                <th>Time</th>
                                        <th>action</th>
                                        <th>agent</th>
                                        <th>app</th>
                                        <th>appcat</th>
                                        <th>appid</th>
                                        <th>apprisk</th>
                                        <th>cat</th>
                                        <th>catdesk</th>
                                        <th>countapp</th>
                                        <th>countdns</th>
                                        <th>countweb</th>
                                        <th>craction</th>
                                        <th>crlevel</th>
                                        <th>crscore</th>
                                        <th>date</th>
                                        <th>datetime</th>
                                        <th>devid</th>
                                        <th>devname</th>
                                        <th>direction</th>
                                        <th>dscountry</th>
                                        <th>dstintf</th>
                                        <th>dstintfrole</th>
                                        <th>dstport</th>
                                        <th>dstip</th>
                                        <th>duration</th>
                                        <th>eventype</th>
                                        <th>eventtime</th>
                                        <th>dstuiid</th>
                                        <th>host</th>
                                        <th>hostname</th>
                                        <th>httpmethod</th>
                                        <th>incidentserialno</th>
                                        <th>level</th>
                                        <th>logid</th>
                                        <th>message</th>
                                        <th>msg</th>
                                        <th>path</th>
                                        <th>policyid</th>
                                        <th>policyname</th>
                                        <th>policytype</th>
                                        <th>poluuid</th>
                                        <th>profile</th>
                                        <th>proto</th>
                                        <th>ratemethod</th>
                                        <th>rcvdbyte</th>
                                        <th>rcvddelta</th>
                                        <th>rcvdpkt</th>
                                        <th>referralurl</th>
                                        <th>group</th>
                                        <th>reqtype</th>
                                        <th>scertcname</th>
                                        <th>scertissuer</th>
                                        <th>sentbyte</th>
                                        <th>sentdelta</th>
                                        <th>sentpkt</th>
                                        <th>service</th>
                                        <th>sessionid</th>
                                        <th>srccountry</th>
                                        <th>srcintf</th>
                                        <th>srcintfrole</th>
                                        <th>srcip</th>
                                        <th>srcport</th>
                                        <th>srcuuid</th>
                                        <th>subtype</th>
                                        <th>time</th>
                                        <th>trandisp</th>
                                        <th>tranip</th>
                                        <th>tranport</th>
                                        <th>transip</th>
                                        <th>transport</th>
                                        <th>type</th>
                                        <th>tz</th>
                                        <th>url</th>
                                        <th>user</th>
                                        <th>utmaction</th>
                                        <th>vd</th>
                                    </tr>
                                 </thead>
    
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                    </div>



                    <footer class="footer">
                        <%- include('../partials/footer') %>
                    </footer>
                </div>
                <!-- end main content-->

            </div>
            <!-- END layout-wrapper -->



            <!-- Right bar overlay-->
            <div class="rightbar-overlay"></div>

            <%- include('../partials/js') %>
                <script type="text/javascript">
                    toastr.info('Visited Table View!', 'Notification', {
                        "positionClass": "toast-top-right", "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "1000",
                        "extendedTimeOut": "1000",
                    })
                </script>
</body>

</html>